[submodule "rowi/html/js/leaflet-plugins"]
	path = rowi/html/js/leaflet-plugins
	url = https://github.com/shramov/leaflet-plugins.git
[submodule "rowi/html/js/Leaflet.fullscreen"]
	path = rowi/html/js/Leaflet.fullscreen
	url = https://github.com/Leaflet/Leaflet.fullscreen.git
[submodule "rowi/html/js/Leaflet.toolbar"]
	path = rowi/html/js/Leaflet.toolbar
	url = https://github.com/Leaflet/Leaflet.toolbar.git
[submodule "rowi/html/js/Proj4Leaflet"]
	path = rowi/html/js/Proj4Leaflet
	url = https://github.com/kartena/Proj4Leaflet.git
[submodule "rowi/html/lib/Leaflet.draw"]
	path = rowi/html/lib/Leaflet.draw
	url = https://github.com/Leaflet/Leaflet.draw.git
[submodule "rowi/html/lib/Leaflet.contextmenu"]
	path = rowi/html/lib/Leaflet.contextmenu
	url = https://github.com/aratcliffe/Leaflet.contextmenu.git
